 .u-section-1 {
  background-image: url("images/sem10.jpg");
  background-position: 50% 50%;
  min-height: 1302px;
}

.u-section-1 .u-image-1 {
  height: 267px;
  width: 1371px;
  object-position: 50% 38.48%;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + -181px);
}

.u-section-1 .u-shape-1 {
  height: 37px;
  margin-top: -25px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 23px calc(((100% - 1140px) / 2) + 356px) 0 calc(((100% - 1140px) / 2) + 399px);
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 47px calc(((100% - 1140px) / 2) + 267px) 0 calc(((100% - 1140px) / 2) + 297px);
}

.u-section-1 .u-form-1 {
  height: 420px;
  margin: 55px calc(((100% - 1140px) / 2) + 254px) 0 calc(((100% - 1140px) / 2) + 316px);
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 45px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-shape-2 {
  width: 576px;
  height: 448px;
  margin: -434px calc(((100% - 1140px) / 2) + 254px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 990px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 183px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -212px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11px;
    margin-right: 285px;
    margin-left: calc(((100% - 1140px) / 2) + 369px);
  }

  .u-section-1 .u-text-2 {
    width: 575px;
    margin-right: calc(((100% - 1140px) / 2) + 154px);
    margin-left: calc(((100% - 1140px) / 2) + 411px);
  }

  .u-section-1 .u-form-1 {
    width: 570px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2) + 154px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 947px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 140px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 218px;
    margin-left: calc(((100% - 1140px) / 2) + 326px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 117px);
    margin-left: calc(((100% - 1140px) / 2) + 448px);
  }

  .u-section-1 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2) + 44px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 912px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 105px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -189px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -12px;
    margin-right: 164px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 121px);
    margin-left: calc(((100% - 1140px) / 2) + 479px);
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 873px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 114px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: -90px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -111px;
    margin-right: 103px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-right: calc(((100% - 1140px) / 2) + 287px);
    margin-left: calc(((100% - 1140px) / 2) + 513px);
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}